
:root {
    --color-light: #daaaf0;
    --color-pink: #9835ca;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau Infant', sans-serif;
}
.container {
    width: 90%;
    height: auto;
    margin: 10px auto;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
}
h1, h2 {
    margin: 0 .5rem;
    font-family: 'Bacasime Antique', serif;
    color: var(--color-purple);
}
.box-form {
    margin: .5rem
}
.box-item {
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
}
.form-label {
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0.5rem 0;
}
.form-control {
    width: 100%;
    border: 0;
    background-color: var(--color-light);
    height: 3.5rem;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 1.1rem;
}
.form-btn {
    width: 100%;
    margin: 0.8rem 0;
    border: 0;
    background-color: var(--color-pink);
    color: #fff;
    font-weight: 900;
    font-size: 1.2rem;
    height: 3.5rem;
    border-radius: 5px;
    cursor: pointer;
}

h1{
    font-family: 'Ysabeau Infant', sans-serif;
    color:#9835ca
}